/*Some basic style for the card game component*/

.cardImg {
    position: relative;
    right: 26px;
    bottom: 26px;
    border-radius: 15px;
}

.row {
    position: relative;
    left: 6px;
}

.result {
    font-size: 30px;
    padding-top: 20px;
}

.playAgain {
    position: relative;
    bottom: 40px;
}

